.dub
docs.json
__dummy.html
docs/
/administration
administration.so
administration.dylib
administration.dll
administration.a
administration.lib
administration-test-*

/usage
usage.so
usage.dylib
usage.dll
usage.a
usage.lib
usage-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
